---
import Layout from '../layouts/Layout.astro';
import HomeContent from '../components/HomeContent';
---

<Layout>
	<div class="flex flex-1 items-center justify-center">
		<HomeContent client:load />
	</div>
</Layout>
